@page
@model crud_webapp.Pages.Customers.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <div class="col-md-12">
        <h1>Details</h1>
    </div>
</div>

<form method="post">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-4">
            <label>Id</label>
            <p class="p-data">@Model.Customer.Id</p>
            <label>Name</label>
            <p class="p-data">@Model.Customer.Name</p>
            <label>E-mail</label>
            <p class="p-data">@Model.Customer.Email</p>
            <label>Salary</label>
            <p class="p-data">@Model.Customer.Salary</p>
            <label>Birthday</label>
            <p class="p-data">@Model.Customer.Birthday.ToShortDateString()</p>
            <label>Gender</label>
            <p class="p-data">@((Model.Customer.Gender == "M") ? "Male" : "Female" )</p>
        </div>
        <div class="col-md-4">
            @{
                if (@Model.Customer.Picture != null)
                {
                    PictureConvert pictureConvert = new PictureConvert();
                    string img = await pictureConvert.ByteToBase64(@Model.Customer.Picture);
                    <a href="@img" target="_blank"><img src="@img" class="img-details img-responsive pull-right" /></a>
                }
                else
                {
                    <h1>Without Picture</h1>
                }
            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-md-offset-2">
            <a class="btn btn-warning pull-right col-md-2" asp-route-id="@Model.Customer.Id" asp-page="./Edit">Edit</a>
            <a class="btn btn-info pull-right col-md-2" asp-page="./Index">Cancel</a>
        </div>
    </div>
</form>